# npm
node_modules/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ui-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# vercel
.vercel

# testing
coverage

# next.js
.next/
out/

# fumadocs
.source

# production
build
dist
apps/docs/public/registry/

# turbo
.turbo

# env
.env
.env.example