.dall-e-container {
  width: 80%;
  margin: 0 auto;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.input-prompt {
  width: 70%;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.input-number {
  width: 15%;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.generate-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #357ae8;
}

.generate-button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
  color: #333;
}

.generated-image {
  max-width: 512px;
  max-height: 512px;
  margin: 0.5rem;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
