.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header {
  width: auto;
}

.header p {
  text-align: center;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 75vw;
  border-radius: 0.5rem;
  border: 1px solid #d9d9e3;
  background: #ffffff;
  color: #000;
  outline: none;
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea:focus {
  outline: none;
  border-color: #6b7280;
  box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
}

.textarea::placeholder {
  color: #6b7280;
}

.generatebutton {
  position: absolute;
  top: 0.87rem;
  right: 1rem;
  color: rgb(165, 162, 162);
  background: none;
  padding: 0.3rem;
  border: none;
  display: flex;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #e4575726;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  background: #ffffff;
  padding: 1.5rem;
  color: #000;
}

.usermessagewaiting {
  padding: 1.5rem;
  color: #000;
  background: linear-gradient(to left, #07080938, #1a1c2024, #07080936);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {
  background: #f9fafb;
  padding: 1.5rem;
  color: #000;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
}

.markdownanswer {
  line-height: 1.35;
}

.markdownanswer p {
  margin-top: 0.45rem;
  margin-bottom: 0.45rem;
}

.markdownanswer a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.markdownanswer a {
  color: #b13a3a;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin-left: 2rem;
}

.markdownanswer ol {
  list-style-type: decimal;
}

.markdownanswer ul {
  list-style-type: disc;
}

.boticon,
.usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
  height: 100%;
}

.markdownanswer h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}

.markdownanswer h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0.75rem;
}

.markdownanswer h3 {
  font-size: 1.1rem;
  font-weight: 200;
  margin-top: 0.5rem;
}

.markdownanswer h4 {
  font-size: 1.05rem;
  font-weight: 150;
  margin-top: 0.25rem;
}

.markdownanswer table {
  width: 100%;
  border-collapse: collapse;
}
.markdownanswer th,
.markdownanswer td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}
.markdownanswer th {
  background-color: #f8f8f8;
}

.markdownanswer blockquote {
  padding-left: 1rem;
  border-left: 4px solid #ddd;
  margin: 1rem 0;
  color: #666;
}

.markdownanswer hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 1rem 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  flex-direction: column;
}

.cloud {
  width: 75vw;
  height: 58vh;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #d9d9e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .main {
    padding: 1rem;
    /* Adjust 80px to the sum of estimated header and footer heights */
    max-height: calc(100vh - 80px); 
    overflow-y: auto;
  }

  .cloud {
    width: 22rem;
    height: 28rem;
  }
  .textarea {
    width: 22rem;
  }
  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
  }

  .footer {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
}
