.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 100px); /* Adjust based on your header/footer height */
  padding: 1rem;
}

.header {
  width: auto;
}

.header p {
  text-align: center;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #d9d9e3;
  background: #ffffff;
  color: #000;
  outline: none;
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea:focus {
  outline: none;
  border-color: #6b7280;
  box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
}

.textarea::placeholder {
  color: #6b7280;
}

.generatebutton {
  position: absolute;
  right: 1rem;
  color: rgb(165, 162, 162);
  background: none;
  padding: 1rem 2rem;
  border: none;
  display: flex;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #e4575726;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  max-width: 100%;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  background: #ffffff;
  padding: 1.5rem;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.usermessage > div {
  flex-grow: 1;
}

.usermessagewaiting {
  padding: 1.5rem;
  color: #000;
  background: linear-gradient(to left, #07080938, #1a1c2024, #07080936);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {
  background: #f9fafb;
  padding: 1.5rem;
  color: #000;
  animation: fadein 0.5s;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
}

.boticon,
.usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
  object-fit: contain;
  height: 100%;
}

.boticon {
  padding-top: 0.25rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  flex-direction: column;
}

.cloud {
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #d9d9e3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .main {
    padding: 1rem;
    /* Adjust 80px to the sum of estimated header and footer heights */
    max-height: calc(100vh - 320px); 
    overflow-y: auto;
  }

  .cloud {
    width: 22rem;
    height: 28rem;
  }
  .textarea {
    width: 22rem;
  }
  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
  }

  .footer {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above everything else */
}

.popupContainer {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
  z-index: 1001; /* Above the overlay */
  max-width: 500px; /* Or any other max-width */
  margin: auto; /* Center the container */
  position: relative; /* Relative to the overlay */
  width: 90%; /* Responsive width */
}

.popupMessage {
  text-align: center;
}

.closeButton {
  background-color: #007bff; /* Bootstrap primary blue */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.closeButton:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.privateButton {
  color: #007bff; /* Bootstrap primary blue */
  border: none;
  padding: 0;
  margin-top: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  text-decoration: underline;
  background-color: transparent;
}

.privateButton:hover {
  color: #0056b3; /* Darker blue on hover */
  background-color: transparent;
}

.voteButtonsContainer {
  display: flex;
  justify-content: flex-end;
  background-color: #f9fafb; 
  padding-right: 5rem;
}

.voteButton {
  /* Shared button styles */
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 10px;
}

.voteButtonActive {
  color: #4CAF50; /* Green color for thumbs up */
}

.voteButtonDownActive {
  color: #F44336; /* Red color for thumbs down */
}

.voteButtonInactive {
  color: #ccc; /* Gray color */
}

/* Share Dialog Overlay */
.shareDialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 49, 49, 0.173);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

/* Share Dialog Box */
.shareDialog {
  background: white;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  width: auto; 
  max-width: 500px; 
  max-height: 85vh; /* Limit height to 70% of the screen height */
  overflow-y: auto; /* Enable scrolling if content exceeds the max height */
  z-index: 1001; 
  position: relative; /* For positioning the close button */
}

.shareDialogTitle {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

/* Close Button for Share Dialog */
.shareDialog .closeButton {
  position: absolute;
  top: -0.75rem; 
  right: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  color: #707070;
}
/* Style for the non-editable markdown content box with 20% smaller font size */
.shareDialog .markdownAnswer {
  max-height: 300px;
  overflow-y: auto;
  background: #f7f7f7;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 80%; 
}
/* Share Answer Button */
.shareDialog .shareButton {
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: bold; /* Make the text bold */
}

.shareDialog .shareButton:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Input and Textarea Styles */
.shareDialog input[type="text"],
.shareDialog textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px; /* Rounded corners for input fields */
  box-sizing: border-box; /* Box-sizing property */
}

/* Placeholder color */
.shareDialog input::placeholder,
.shareDialog textarea::placeholder {
  color: #999;
}

/* Error Message Styles */
.errorMessage {
  color: #d9534f; /* Bootstrap danger color */
  margin-bottom: 10px;
}

.successMessage {
  background-color: #f0f0f0; /* Gray background */
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.successMessage p {
  margin: 0;
}

.successMessage button {
  border: none;
  background: none;
  cursor: pointer;
}

.markdownanswer {
  line-height: 1.75;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #b13a3a;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}